
body{
    font-family: Arial, sans-serif;
    background-color:aquamarine;
    margin: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container{
    width: 90%;
    max-width: 800px;
    background-color:#666;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}
header {
    font-family:"Oswald", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

main {
    font-family:'Delius', cursive;
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

footer {
    font-size: 0.9rem;
    color: #666
}

h1 {
    color:burlywood;
}

hr {
    height: 2px;
    background-color: black;
    border: none;
}

ul > li {
    font-size: 1.5rem;
    font-weight: bold;
}

ul ul li {
    font-size: 1rem;
    font-weight: normal;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 30px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

nav .logo {
    position: absolute;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
}